<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dibapp.dibapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_application"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_application_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.QRCodeGenerator"></activity>
        <activity android:name=".home.CommentCreateActivity" />
        <activity android:name=".home.CommentActivity" />
        <activity android:name=".home.CourseActivity" />
        <activity android:name=".home.LessonActivity" />
        <activity
            android:name=".home.LessonCreateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".QRCodeScanner" />
        <activity
            android:name=".autenticazione.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.StudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.TeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:noHistory="true" />
        <activity
            android:name=".autenticazione.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".autenticazione.MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>